/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* FINE-RESET */

/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif
}
/* FINE TYPOGRAPHY */

/* COMMONS */
.blue-button{
    border: none;
    background-color: blue;
    color: white;
}

/* FINE-COMMONS */

/* HEADER */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}
nav{
    padding: 10px;
    font-size: 12px;
    vertical-align: middle;
}
/* Logo */
nav img{
    width: 100px;
    height: 20px;
    vertical-align: middle;
}
/* Link e bottoni */
nav ul{
    list-style: none;
}
nav ul, li{
    display: inline-block;
    vertical-align: top;   
}
nav ul a{
    text-decoration: none;
    padding: 10px;
    color: black;
    vertical-align: middle;
}
nav .blue-button{
    font-size: 12px;
    padding: 5px 10px;
}
/* FINE-HEADER */

/* HERO */
/* Sfondo */
.hero{
    margin-top: 50px;
    background-color: lightblue;
}
/* Contenitore principale */
.hero-container{
    max-width: 65%;
    margin: auto;
}
/* Titolo */
.hero-container h1{
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 50px;
}
/* Parte interna */
.hero-box{
    max-width: 100%;
    margin: auto;
    display: flex;
}
/* Parte sx */
.hero-box-left{
    width: 30%;
    padding-top: 10px;
    font-size: 12px;
}
.hero-box-left .blue-button{
    font-size: 12px;
    padding: 10px 5px;
    margin-top: 20px;
}
.hero-box-left span{
    display: block;
    margin-top: 20px;
}
#hero-arrow{
    margin-top: 30px;
    margin-bottom: 20px;
}
#hero-arrow i{
    font-size: 30px;
}
/* Parte dx */
.hero-box-right{
    width: 70%;
    position: relative;
}
.hero-box-right img{
    width: 100%;
    position: absolute;
    top: 10px;
}
/* FINE HERO */

/* MAIN */
/* Sezione abbonamenti */
.sez-abbonamenti{
    margin: auto;
    width: 55%;
    margin-top: 150px;
}
.sez-abbonamenti h2{
    margin-bottom: 30px;
}
.box-abbonamenti{
    margin-top: 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.abbonamento{
    border: 1px solid gray;
    width: calc(100% / 3 - 15px);
}
.tipo-abbonamento{
    border-bottom: 1px solid gray;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Elementio delle info */
.info-abbonamento {
    padding-left: 10px;
    padding-right: 30px;
}
.info-abbonamento h3, .info-abbonamento-4 h3{
    margin-top: 30px;
    margin-bottom: 15px;
}

.info-abbonamento span{
    display: block;
    margin-top: 10px;
}
.info-abbonamento .blue-button{
    padding: 10px 20px;
    width: 180px;
    font-size: 12px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 30px;
}
.buy-now{
    color: blue;
}
.info-abbonamento hr{
    width: 40px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.info-abbonamento ul:first-of-type{
    margin-top: 40px;
    margin-bottom: 30px;
}
.info-abbonamento ul:last-of-type{
    margin-top: 40px;
}
.info-abbonamento li{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
}
.info-abbonamento ul:last-of-type i{
    color: blue;
    font-size: 14px;
}
.info-abbonamento i{
    margin-right: 5px;
}
/* abbonamento 4 */
.riga-abbonamento{
    font-size: 12px;
    height: calc(237.3px - 31px);
    border: 1px solid gray;
    margin-top: 15px;
}
.info-abbonamento-4{
    display: flex;
}
.info-abbonamento-4 div:first-child{
    padding-left: 10px;
    width: 70%;
}
.info-abbonamento-4 p{
    margin-top: 40px;
}
.info-abbonamento-4 .blue-button{
    padding: 10px 20px;
    width: 180px;
    font-size: 12px;
    text-align: center;
    margin-left: 15px;
    margin-top: 30px;
    height: 34px;
}
/* Fine sezione abbonamenti */

/* Sezione "Trova un partner" */
.container-partner{
    width: 55%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    display: flex;
}
.partner-img{
    width: 60%;
}
.partner-img img{
    width: 100%;
}
.info-partner{
    width: 40%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 14px;
}
.info-partner p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.partner-button{
    border: none;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border: 1px solid black;
}
/* Fine sezione "Trova un partner" */

/* Sezione Dropbox Business */
.dropbox-business{
    width: 55%;
    margin: auto;
    margin-top: 100px;
}
.dropbox-business > div:first-child{
    margin-bottom: 30px;
}
.drop-business-img h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.drop-business-img{
     display: flex;
     flex-wrap: wrap;
}
.drop-business-img img{
    display: block;
    width: 100%;
}
.drop-business-img > div{
    font-size: 14px;
    width: calc(100% / 3);
}
.box-bottom{
    margin-top: 40px;
    margin-bottom: 120px;
}
.drop-business-bottom{
    width: 50%;
    font-size: 14px;
}
.drop-business-bottom h2{
    margin-bottom: 30px;
}
/* Fine sezione Dropbox Business */
/* FINE MAIN */