/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* FINE-RESET */

/* TYPOGRAPHY */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/* FINE TYPOGRAPHY */

/* COMMONS */
.blue-button{
    border: none;
    background-color: rgb(0, 97, 255);
    color: white;
}

/* FINE-COMMONS */

/* HEADER */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
nav{
    padding: 10px;
    display: flex;
    align-items: center;
}
/* Logo */
nav img{
    width: 100px;
    height: 20px;
}
/* Link e bottoni */
nav ul{
    list-style: none;
}
nav ul, nav ul li{
    display: inline-block;  
}
nav ul a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
nav .blue-button{
    padding: 5px 10px;
}
/* FINE-HEADER */

/* HERO */
/* Sfondo */
.hero{
    margin-top: 50px;
    background-color: rgb(180, 208, 231);
}
/* Contenitore principale */
.hero-container{
    max-width: 65%;
    height: 480px;
    margin: auto;
    position: relative;
}
/* Titolo */
.hero-container h1{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 50px;
}
/* Parte interna */
.hero-box{
    max-width: 100%;
    margin: auto;
    display: flex;
    position: absolute;
    bottom: -50px;
}
/* Parte sx */
.hero-box-left{
    width: 30%;
    padding-top: 10px;
}
.hero-box-left .blue-button{
    padding: 10px 5px;
    margin-top: 30px;
}
.hero-box-left span{
    display: block;
    margin-top: 30px;
}
#hero-arrow{
    margin-top: 40px;
}
#hero-arrow i{
    font-size: 30px;
}
/* Parte dx */
.hero-box-right{
    width: 70%;
}
.hero-box-right img{
    width: 100%;
    top: 10px;
}
/* FINE HERO */

/* MAIN */
/* Sezione abbonamenti */
.sez-abbonamenti{
    margin: auto;
    width: 55%;
    margin-top: 150px;
}
.sez-abbonamenti h2{
    margin-bottom: 70px;
}
.box-abbonamenti{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.abbonamento{
    border: 1px solid gray;
    width: calc(100% / 3 - 15px);
}
.tipo-abbonamento{
    border-bottom: 1px solid gray;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Radio button */
.box-radio-b {
    position: relative;
    padding-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}  
.box-radio-b input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}  
.box-radio-b:hover input ~ .checkmark {
    background-color: #ccc;
} 
.box-radio-b input:checked ~ .checkmark {
    background-color: #2196F3;
} 
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
} 
.box-radio-b input:checked ~ .checkmark:after {
    display: block;
}
.box-radio-b .checkmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

/* Elementio delle info */
.info-abbonamento {
    padding-left: 10px;
    padding-right: 10px;
}
.info-abbonamento h3, .info-abbonamento-4 h3{
    margin-top: 30px;
    margin-bottom: 15px;
}

.info-abbonamento span{
    display: block;
    margin-top: 10px;
}
.info-abbonamento .blue-button{
    padding: 10px 20px;
    width: 180px;
    font-size: 12px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 30px;
}
.buy-now{
    color: blue;
}
.info-abbonamento hr{
    width: 40px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.info-abbonamento ul:first-of-type{
    margin-top: 40px;
    margin-bottom: 30px;
}
.info-abbonamento ul:last-of-type{
    margin-top: 40px;
}
.info-abbonamento li{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
}
.info-abbonamento ul:last-of-type i{
    color: blue;
    font-size: 14px;
}
.info-abbonamento i{
    margin-right: 5px;
}
/* abbonamento 4 */
.riga-abbonamento{
    height: calc(237.3px - 31px);
    border: 1px solid gray;
    margin-top: 15px;
}
.info-abbonamento-4{
    display: flex;
}
.info-abbonamento-4 div:first-child{
    padding-left: 10px;
    width: 70%;
}
.info-abbonamento-4 p{
    margin-top: 40px;
}
.info-abbonamento-4 .blue-button{
    padding: 10px 10px;
    width: 180px;
    text-align: center;
    margin-left: 15px;
    margin-top: 30px;
    height: 34px;
}
/* Fine sezione abbonamenti */

/* Sezione "Trova un partner" */
.container-partner{
    width: 55%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}
.partner-img{
    width: 60%;
}
.partner-img img{
    width: 100%;
}
.info-partner{
    width: 40%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
}
.info-partner p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.partner-button{
    border: none;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border: 1px solid black;
}
/* Fine sezione "Trova un partner" */

/* Sezione Dropbox Business */

/* Operazioni */
.dropbox-business{
    width: 55%;
    margin: auto;
}
.dropbox-business > div:first-child{
    margin-bottom: 30px;
}
.drop-business-img h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.drop-business-img{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.drop-business-img img{
    display: block;
    width: 100%;
}
.drop-business-img > div{
    width: 30%;
}
.box-bottom{
    margin-top: 40px;
}
.drop-business-bottom{
    width: 70%;
    font-size: 14px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.drop-business-bottom h2{
    margin-bottom: 30px;
    font-size: 30px;
}

/* Affiliati */
.container-affiliati{
    display: flex;
    width: 100vw;
}
.box-centrale{
    width: calc(100vw / 10 * 4);
    height: calc(100vw / 10 * 3);
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.box-centrale img{
    width: 40%;
}
.box-centrale hr{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 20%;
}
.box-centrale span{
    margin-top: 50px;
}
.box-affiliati{
    width: calc(100vw / 10 * 3);
    height: calc(100vw / 10 * 3);
    display: flex;
    flex-wrap: wrap;
}
.box-affiliati-img{
    width: 50%;
    height: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-affiliati-img img{
    width: 50%;
}
.blue img{
    height: 30%;
}
.green{
     background-color: rgb(162, 211, 155);
}
.brown{
    background-color: rgb(97, 8, 43);
}
.blue{
    background-color: rgb(0, 247, 206);
}
.red{
    background-color: rgb(254, 28, 28);
}
.red-2{
    background-color: rgb(208, 0, 030);
}
.azure{
    background-color: rgb(180, 208, 131);
}
.blue-2{
    background-color: rgb(13, 36, 129S);
}
.yellow{
    background-color: rgb(255, 216, 48);
}
/* Bottom Business */
.drop-bus-prova{
    height: calc(100vw / 10 * 1.5);
    background-color: rgb(180, 208, 231);
}
.drop-bus-prova h2{
    color: rgb(101, 35, 61);
    font-size: 30px;
}
.drop-bus-prova > div{
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.drop-bus-button, .drop-bus-title{
    height: 25%;   
}
.drop-bus-prova button{
    border: none;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border: 1px solid black;
}
/* Fine sezione Dropbox Business */

/* Sezione FAQ */
.container-faq{
    height: calc(100vw / 10 * 3);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.box-faq{
    width: 55%;
}
.container-faq h2{
    margin-bottom: 40px;
}
.box-faq div{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.box-faq div:last-child{
    border-bottom: 1px solid gray;
}
.box-faq button{
    border: none;
    background-color: transparent;
}
/* Fine sezione FAQ */

footer{
    height: calc(100vw / 10 * 3);
    width: 100vw;
    color: white;
    background-color: black;
}
.box-footer{
    width: 70%;
    height: 70%;
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.box-footer ul{
    list-style: none;
    margin-top: 20px;
}
.box-footer ul li{
    margin-top: 20px;
}
.language{
    width: 70%;
    height: 30%;
    margin: auto;
    padding-top: 50px;
    color: lightgray;
}
.language > i{
    margin-right: 5px;
}
.language button{
    color: lightgray;
    border: none;
    background-color: transparent;
    position: relative;
    width: 16px;
    height: 20px;
}
.language button i{
    position: absolute;
    top: 0px;
    left: 0px;
}



/* FINE MAIN */
